body {
    background-color: #eee;
    color: #444;
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
}

#container {
    margin: auto;
    max-width: 800px;
}

#container>header {
    background-color: #222;
    color: #fff;
    padding: 0.5em 1em;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container>header p {
    margin: 0;
}

#container>header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
}

h1 {
    font-size: 1.5em;
    margin-top: 0;
}

article {
    background-color: #fff;
    margin-bottom: 1em;
    padding: 1em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

th,
td {
    padding: 0.5em;
}

table p {
    margin: 0;
}

tr {
    border-bottom: 1px solid #ccc;
}

body tr:nth-child(even) {
    background-color: #f6f6f6;
}

.updated {
    color: #777;
    font-size: 0.7em;
}

.designation {
    background-color: #999;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    padding: 0.1em 0.3em;
    font-size: 0.8em;
    text-align: center;
}

.train {
    border-radius: 999px;
    background-color: #cc417f;
    min-width: 30px;
}

.bus {
    background-color: #111;
}

#reload {
    font-weight: bold;
    display: inline-block;
    background-color: #444;
    border-radius: 4px;
    padding: 3px 5px 2px 6px;
    border: 1px solid #555;
    cursor: pointer;
}

#reload:hover {
    background-color: #666;
}

footer {
    background-color: #fff;
    color: #666;
    padding: 0.5em
}

footer p {
    margin: 0.2em;
    font-size: 0.7em;
}