<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skogås station</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">


</head>

<body>
    <div id="container">
        <header>
            <div>
                <p id="time">00:00:00</p>
                <p class="updated">Uppdaterad: {{ tables[0].time.strftime('%Y-%m-%d %H:%M:%S') }}</p>
            </div>
            <p id="reload">⟳</p>
        </header>
        <main>
            {% for sd in tables: %}
            <article>
                <header>
                    <h1>Avgångar från {{ sd.station_name }}</h1>
                </header>
                <table>
                    <thead>
                        <tr>
                            <th>Avgång</th>
                            <th>Linje</th>
                            <th>Mot</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in sd.departures %}
                        <tr>
                            <td>
                                {% if d.scheduled != d.realtime: %}
                                <b>{{ d.realtime }}</b>
                                <s>{{ d.scheduled }}</s>
                                {% else: %}
                                {{ d.scheduled }}
                                {% endif %}
                            </td>
                            <td>
                                <p class="designation {{ d.transportation_mode }}">{{ d.designation }}</p>
                            </td>
                            <td>{{ d.direction }}</td>
                            <td>{{ d.delay }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </article>
            {% endfor %}
        </main>
        <footer>
            <p>Data från <a href="https://www.trafiklab.se">Trafiklab</a></p>
            <p>Version: 1.1</p>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const timeElement = document.querySelector('#time');
            const reloadButton = document.querySelector('#reload');

            /* Clock */
            setInterval(() => {
                timeElement.textContent = new Date().toLocaleTimeString('sv-SE');
            }, 1000);

            /* Reload button */
            reloadButton.addEventListener('click', () => {
                window.location.reload();
            });
        });

    </script>
</body>

</html>